**Python Introduction:**

**print() function**

In [25]:
print("Hello World !") # multiple word, but single string seperated by space

Hello World !

In [26]:
print("Hello", "World" ) # multiple string seperated by space

Hello World

In [27]:
print("Hello")
print() # printing new line
print("Himanshu")

Hello

Himanshu

**Using "end" and "sep" in print**

In [28]:
print("Welcome to", end = " ") # line will end with " ", so no new line
print("Our Home") # end is not given,by default new line

Welcome to Our Home

In [29]:
print("17", "October", "2023", sep = "-")

17-October-2023

In [30]:
print(10, 20, 30, sep="+", end=" ")
print(50, 60)

10+20+30 50 60

**Variables in Python**

In [31]:
age = 27 # int data type and "age" here is variable
name = "Himanshu" # string data type
weight = 84.23 # float data type

print(age) # printing variables
print(name)
print(weight)

27
Himanshu
84.23

In [32]:
price = 100
tax = 18

total_price = price + tax # adding the int data type

print(total_price)

118

In [33]:
x = 10 # inital value of x
print(x)

x = "ABC" # updating the value of x
print(x) # printing the updated value

10
ABC

In [34]:
is_valid = True # boolean data type. Always starts with Capital letter
marks = 90
pi = 3.14
city_name = "Delhi"

print(is_valid)
print(marks)
print(pi)
print(city_name)

True
90
3.14
Delhi

**input() function**

In [35]:
name = input("Enter your Name: ")
age = input("Enter your Age: ")

print()

print("Welcome " + name) # using concatenation i.e "+" to add different strings
print("Your age is: " + age)

Enter your Name: Himanshu
Enter your Age: 27

Welcome Himanshu
Your age is: 27

In [36]:
# Writing a program to find Sum of Two Numbers

# Method 1:

x = input("Enter the First Number: ") # input always string data type
y = input("Enter the Second Number: ")

x = int(x) # converting str to int data type
y = int(y)

result = x + y

print("Sum is: ", result)

print()

# other way to print is using format function

print("Sum of {} and {} is: {}".format(x, y, result))

Enter the First Number: 20
Enter the Second Number: 30
Sum is:  50

Sum of 20 and 30 is: 50

In [37]:
# Method 2:

x = int(input("Enter the First Number: "))
y= int(input("Enter the Second Number: "))

res = x + y # res is int data type

print("Sum is: ", res) # using , to print different data type together

Enter the First Number: 20
Enter the Second Number: 30
Sum is:  50

In [38]:
# Method 3:

x = int(input())
y= int(input())

res = x + y

print("Sum is: ", res)

12
12
Sum is:  24

**type() function**

In [39]:
name = "ABC"
age = 27
weight = 84.25
is_honest = True
complex_num = 2 + 4j # in python complex number using "j" instead of "i"

print(type(name))
print(type(age))
print(type(weight))
print(type(is_honest))
print(type(complex_num))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

In [40]:
# checking the class of Sequence Type

a = "Home" # string

l = [10, "abe", 15.6, False] # list

t = (1, "abc", 15.6, True) # tuple

s = {20, "def", 34.7, False} # set

d = {10:"Food", "ABC":"56", "Check":True} # dictionary

print(type(a))
print(type(l))
print(type(t))
print(type(s))
print(type(d))

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

**Type Conversion**

In [41]:
# Implicit type conversion

a = 10 # int
b = 1.5 # float
c = a + b # here automatically "a" will change to float

print(c)
print(type(c))

print()

d = True

e = a + d # in python bool converts to 0 or 1
print(e)

# True = 1 and False = 0 in python

11.5
<class 'float'>

11

In [42]:
# explicit type conversion

s = '135' # string type

i = 10 + int(s)  # str to int conversion

f = float(s)  # str to float conversion

print(i)
print(f)

145
135.0

In [43]:
# explicit type conversion

s = "himanshu"

print("string to list: ", list(s)) # changing string to list

print("string to tuple: ", tuple(s)) # changing string to tuple

print("string to set: ", set(s)) # changing string to set

# set is always unordered and does not contain duplicate values

string to list:  ['h', 'i', 'm', 'a', 'n', 's', 'h', 'u']
string to tuple:  ('h', 'i', 'm', 'a', 'n', 's', 'h', 'u')
string to set:  {'n', 'h', 's', 'u', 'i', 'a', 'm'}

In [44]:
# converting list, int and float to string

l = ['a', 'b', 'c']

print("list to string: ", str(l))

a = 10

b = 11

print("int to string: ", str(a) + str(b)) # concatenating both the strings

c = 12.5

print("float to string: ", str(c))

list to string:  ['a', 'b', 'c']
int to string:  1011
float to string:  12.5

In [45]:
# converting tuple and set to list

t = (10, 20, 30) # we can also write tuple without parenthesis ()

print("tuple to list: ", list(t))

s = {10, 20, 30} # always unordered collection and no duplicate

print("set to list: ", list(s))

tuple to list:  [10, 20, 30]
set to list:  [10, 20, 30]

In [46]:
# integer to binary converstion

a = 20

print("int to binary 20 :", bin(a)) # binary are 0 and 1

print("int to hexa 20 :", hex(a))

print("int to octa 20 :", oct(a))

int to binary 20 : 0b10100
int to hexa 20 : 0x14
int to octa 20 : 0o24

In [47]:
# binary to int conversion

a = "1001"

print("binary to int", int(a, 2)) # in binary the base is 2

b = "A1"

print("hexa to int", int(b, 16)) # in hexa the base is 16

c = "12"

print("octa to int", int(c, 8)) # in octa the base is 8

binary to int 9
hexa to int 161
octa to int 10

**Comments in Python**

In [48]:
# this is single line comment example

"""
This is a docstring example,
not a multiline comment
but can be understood to as multiline comment
"""

'\nThis is a docstring example,\nnot a multiline comment \nbut can be understood to as multiline comment\n'

**if, else and elif**

In [49]:
# to check if a number is even or odd

n = int(input("Enter a number to check if it is even or odd: "))

if n%2==0:
  print("The number is even")
else:
  print("The number is odd")

Enter a number to check if it is even or odd: 12
The number is even

In [50]:
# To check if a number is Positive, Negative or Zero

n = int(input("Enter a number: "))

if n > 0:                                  # check if number is greater then 0
  print("The Number entered is Positive")
elif n < 0:                                     # check if number is less than 0
  print("The Number entered is Negative")
else:
  print("The Number entered is Zero")

Enter a number: 12
The Number entered is Positive

In [52]:
# Using nested if-else finding if the number is : +ve even, -ve even

n = int(input("Enter a number: "))

if n > 0:                                              # checking if number is greater
  print("The number entered is postive", end=" ")
  if n%2==0:                                           # checking if number is even, % (modulus operator) returns remaninder
    print("even")
  else:
    print("odd")
elif n < 0:                                            # checking if number is lesser
  print("The number entered is negative", end=" ")
  if n%2==0:
    print("even")
  else:
    print("odd")
else:
  print("The number entered is zero which is neither -ve nor +ve")

Enter a number: 12
The number entered is postive even

**Match Case Function in Python**

In [55]:
# match case is similar to if, elif, and else

https = 201

match https:
  case 200 | 201:         # '|' means "or"
    print("Success")
  case 400 | 401:
    print("not found")
  case 500 | 501:
    print("server error")
  case _:                 # 'case _' means smiliar to 'else'
    print("unknown")

Success

In [57]:
# if, elif and else for the above program

https = 401

if https == 200 or https == 201:
  print("Success")
elif https == 400 or https == 401:
  print("not found")
elif https == 500 or https == 501:
  print("server error")
else:
  print("unknown")

not found