**Arithmetic Operators :**

In [1]:
# Mathematical operation

x = 9
y = 4

print(x, y)

print("Addition:", x + y)

print("Subtraction:", x - y)

print("Multiplication:", x * y)

print("Float Division:", x / y)

print("Integer Division:", x // y) # gives quotient part before decimal

print("Remainder:", x % y) # % is called modulous operator

print("Power:", x ** y)

9 4
Addition: 13
Subtraction: 5
Multiplication: 36
Float Division: 2.25
Integer Division: 2
Remainder: 1
Power: 6561

In [5]:
# Negative float division

x = -5
y = 2

print("// gives floor value of division:", x // 2) # -2.5 so floor of a negative number is -3 i.e one smaller number with no dots

x = 5.0
y = 2

print("// with floor give float:", x // y) # since float is there so result will be in float

x = 2
y = -2

print("negative power:", x ** y)

// gives floor value of division: -3
// with floor give float: 2.0
negative power: 0.25

In [6]:
# Precedence

print('* has higher precedence than + so 5+2*3 :-', 5 + 2 * 3)

print('power has highest precedence than *,+ so 5+3*4**2 :- ', 5 + 3 * 4 ** 2)

* has higher precedence than + so 5+2*3 :- 11
power has highest precedence than *,+ so 5+3*4**2 :-  53

In [7]:
# Associative and bracket

print('+ and - has same precedence, here associative decide evaluation, left to right for 5 + 4 - 2 :-', 5 + 4 - 2)

print(' power has right to left associative, 2**2**-1 :- ', 2 ** 2 ** -1)

print(' if bracket is used associative and precedence ignored ((2**2)**-1):- ', ((2 ** 2) ** -1))

+ and - has same precedence, here associative decide evaluation, left to right for 5 + 4 - 2 :- 7
 power has right to left associative, 2**2**-1 :-  1.4142135623730951
 if bracket is used associative and precedence ignored ((2**2)**-1):-  0.25

**Logical Operators**

In [8]:
# And ,Or, Not

a = 10
b = 20
c = 30

print('and:- both should be true: a<b and b<c:', a < b and b < c)

print('or: a<b or b>c:', a < b or b > c)

print('not: a>b:',not a > b)

and:- both should be true: a<b and b<c: True
or: a<b or b>c: True
not: a>b: True

In [16]:
# Container and bool

s1 = ""

s2 = s1 or "defaultStr"

print("in case of false, default value is taken s2:", s2)

l1 = [5, 6, 7]

l2 = l1 or [1, 2, 3]

print("in case of true, default value taken l2:", l2)

in case of false, default value is taken s2: defaultStr
in case of true, default value taken l2: [5, 6, 7]

In [18]:
# Int value and bool

x = 10

print("x or 30:", x or 30) # in "or" if 1st value is true, 2nd not considered

y = 0

print("y or 30:", y or 30) # 1st is False

z = 40

print("z and 50:", z and 50) # in "and" value till last is considered

x or 30: 10
y or 30: 30
z and 50: 50

**Identity Comparison Operators**

In [22]:
# String ,int ,float and id

x = 10

y = x

print("x and y has same address:", x is y)

print(x is not y)

###################################################

x1 = 10
x2 = 10

y1 = 10.5
y2 = 10.5

z1 = "himanshu"
z2 = "himanshu"

print("x1 is x2:",x1 is x2)     # python allocate same memory for same literal

print("y1 is y2:",y1 is y2)

print("z1 is z2:", z1 is z2)

a1 = None
a2 = None

print("a1 is a2:", a1 is a2) # in python, None is a special character

x and y has same address: True
False
x1 is x2: True
y1 is y2: False
z1 is z2: True
a1 is a2: True

In [21]:
# Container and id

l1 = [10, 20, 30]

l2 = [10, 20, 30]

print("li is l2:", l1 is l2) # value is same but is give false. but in string and int it gives true

# in case of Containers like List, Tuple or if it is collections it is always False

li is l2: False

**Membership Test Operators**

In [1]:
# In string

s = "himanshu"

print("h" in s) # checking for "h" in s

print("man" in s) # checking for "man" in s

print("hv" in s)

True
True
False

In [2]:
# In Dictionary

d = {10: "abc", 20: "efg"}

print(10 in d) # checking key 10 in d

print(15 in d) # key 15 is not in d

print("abc" in d) # in looks for key in dictionary, so key "abc" not in d

True
False
False

In [3]:
# In List

l = [10, 20, 30 , 15]

print(30 in l) # checks if 30 in list l

print([20, 30] in l) # checks if [20, 30] list exists, which is not in l

True
False

In [4]:
# not in

l = [10, 20 , 30, 15]

print(30 not in l) # checks if 30 is not in l, gives not opposite of answer

print(40 not in l)

print([20, 30] not in l) # checks if list [20, 30] is in l

False
True
True

**Bitwise Operators**

In [6]:
# Int to bin (binary)

print(bin(18))

print(bin(12))

print(int("0b10010", 2)) # binary to int, takes base 2 as 2 values 0, 1

print(int("0b1100", 2))

0b10010
0b1100
18
12

In [9]:
# bitwise and, or, xor

x = 3
y = 6

# bitwise and : &

print("bitwise and: 3 & 6:", 3 & 6)

'''
here binary of 6 = 110
here binary of 3 = 011
              ---------
           3 & 6 = 010

0 means False and 1 means True

So, 0 & 0 = 0
    0 & 1 = 0
    1 & 0 = 0
    1 & 1 = 1

Therefore, Decimal of 010 = 2
'''

# bitwise or : |

print("bitwise or: 3 | 6:", 3 | 6)

'''
here binary of 6 = 110
here binary of 3 = 011
              ---------
           3 | 6 = 111

0 means False and 1 means True

So, 0 | 0 = 0
    0 | 1 = 1
    1 | 0 = 1
    1 | 1 = 1

Therefore, Decimal of 111 = 7
'''

# bitwise xor : ^

print("bitwise xor: 3 ^ 6:", 3 ^ 6)

'''
here binary of 6 = 110
here binary of 3 = 011
              ---------
           3 & 6 = 101

0 means False and 1 means True

So, 0 ^ 0 = 0
    0 ^ 1 = 1
    1 ^ 0 = 1
    1 ^ 1 = 0

Therefore, Decimal of 101 = 5
'''

bitwise and: 3 & 6: 2
bitwise or: 3 | 6: 7
bitwise xor: 3 ^ 6: 5

In [ ]:
"""
Theory :

- bitwise operator mainly work on Binary Representation of numbers

eg: divide the integer number 18 by 2 and then you will get remainder either 0 or 1.
divide till the quotient becomes zero
then write the bits (0, 1) from bottom to top

- To convert binary to decimal : Start from last number

eg: 10010

= (0*2**0)+(1*2**1)+(0*2**2)+(0*2**3)+(1*2**4)
= 0 + 2 + 16
= 18

here we are increasing the multiplayer power from 1, 2, 3, 4
"""

In [14]:
# Left Shift Operator

x = 5

# binary representation of 5 is 101

print("left shift: 5 by 1:", x << 1)

# x << 1 = 10 (1010)

# left shift means adding 0 to the left hand side

# also, note shift by 1 so, 5 * (2**1) = 10

print("left shift: 5 by 2:", x << 2)

# x << 2 = 20 (10100)

# shift by 2 so, 5 * (2**2) = 20

print("left shift: 5 by 3:", x << 3)

# x << 3 = 40 (101000)

# shift by 3 so, 5 * (2**3) = 40

left shift: 5 by 1: 10
left shift: 5 by 2: 20
left shift: 5 by 3: 40

In [12]:
# Right shift operator

x = 5

# binary representation of 5 is 101

print("right shift: 5 by 1:", x >> 1)

# x >> 1 = 2 (010)

# right shift means adding 0 to the right hand side. Therefore shifting to right hand side

# here in right shift by 1 the last bit i.e 1 at end of 101 goes away and then 0 is added to the right hand side

# right shift by 1 so, 5 / (2**1) = 2

print("right shift: 5 by 2:", x >> 2)

# x >> 2 = 1 (001)

# here in right shift the last bit i.e 0 at end of 010 goes away and then 0 is added to the right hand side

# here in right shift by 2 the bit i.e 01 at end of 101 goes away and then 00 is added to the right hand side

# right shift by 2 so, 5 / (2**2) = 1

print("right shift: 5 by 3:", x >> 3)

# x >> 3 = 0 (000)

# here in right shift by 3 the last bit i.e 0 at end of 010 goes away and then 0 is added to the right hand side

# right shift by 3 so, 5 / (2**3) = 0

right shift: 5 by 1: 2
right shift: 5 by 2: 1
right shift: 5 by 3: 0

In [15]:
# bitwise not operator

x = 5

# binary representation of 5 is 101

# bitwise not operator toggles every bit means 101 will become 010 , 0 will become 1 and 1 will become 0

# if the leading bit is 0 then it means it is a positive number

# if the leading bit is 1 then it means it is a negative number.

# 1 byte = 8 bits

# 5 = 101 -> 3 bits
# and it can be written in the form of bytes as 00000101
# negation of 00000101 is 11111010 , as starting from 1 therefore negative number

# negative numbers are stored in two's complement form. it is different from decimal to binary and binary to decimal

print("bitwise not : ~5 :", ~x) # bitwise not ~

bitwise not : ~5 : -6